body {
	background: black;
}

p {
	color: grey;
	font-family: 'Helvetica', sans-serif;
	text-align: center;
	margin-top: 20%;
	margin-left: 18%;
	margin-right: 18%;
}

a {
	color: white;
	text-decoration: none !important;
	border-bottom: 1px dotted red;
}

a:hover{
/*	border-bottom: none !important;*/
  color: red;
}
h1 {
	color: white;
	font-family: 'Helvetica', sans-serif;
	text-align: center;
/*	margin-top: 22%;*/
	font-size: 5.5rem;
	width: 100%;
}

@media screen and (max-width: 590px){
	h1 {
		font-size: 4rem;
/*		margin-top: 45%;*/
	}

	p {
		margin-top: 40%;
	}
}

@media screen and (max-width: 400px) {
	h1 {
		font-size: 3rem;
/*		margin-top: 70%;*/
	}

	p {
		margin-top: 60%;
	}

}

#crime {
	color: red;
}