body {
	background: black;
}
h1 {
	color: white;
	font-family: Helvetica;
	text-align: center;
	margin-top: 22%;
	font-size: 5.5rem;
	width: 100%;
}

@media screen and (max-width: 590px){
	h1 {
		font-size: 4rem;
		margin-top: 45%;
	}
}

@media screen and (max-width: 400px) {
	h1 {
		font-size: 3rem;
		margin-top: 70%;
	}

}

#crime {
	color: red;
}